// CDN FONTAWESOME
// <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
//
// Sass:
// https://fontawesome.com/how-to-use/on-the-web/using-with/sass


body{
  background-color: #FFFFFA;
}


.author__container {
  margin: 0 auto;
  font-family: 'Open Sans';
  margin: 30px;
  display: flex;
  justify-content: space-around;
}

.author__picture {
  margin: 40px 0;
  background: #4a4a49;
  width: 300px;
  height: 300px;
}

.author__info {
  margin: 40px 0;
  width: 40%;
  color: #4a4a49;

        h3 {
        margin-top: 0;
        margin-bottom: 40px;
      }

        .author__info--text {
          line-height: 25px;

        }
}